<div style="background:url(images/yo.jpg); width:150px; height:150px; border-radius:50%; margin:20px;float:left;"></div>
<div style="">
<h2>Sobre mí</h2>
<p>Hola, me llamo Isabel. Vivo y trabajo en Getafe (Madrid), y desde hace nueve años me dedico al análisis de sistemas de Aviónica.</p>
<p>En mi tiempo libre me gusta leer, escuchar música, jugar (a videojuegos o un buen juego de mesa con amigos), hacer senderismo, montar en bici... y aprender cosas.</p>
<p>Me he apuntado a este curso porque me gustaría ponerme un poco al día con el desarrollo en node.js, y de momento estoy disfrutando con ello.</p>
<p>¡Nos vemos por aquí!</p>
</div>
<div style="clear:both"></div>